.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.formUserContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.skillContainer {
  overflow-y: scroll;
  width: 200px;
  height: 200px;
  margin: 0 30px;
}
.input {
  width: 300px;
  height: 20px;
  /* background-color: #f1f1f1; */
  padding: 10px;
  margin: 10px;
  color: black;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #177fce;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.button {
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 35px;
}
